body {
  font-family: 'Inter UI';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../assets/fonts/InterUI-Regular.woff2') format('woff2'),
    url('../assets/fonts/InterUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../assets/fonts/InterUI-Medium.eot');
  src: url('../assets/fonts/InterUI-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/InterUI-Medium.woff2') format('woff2'),
    url('../assets/fonts/InterUI-Medium.woff') format('woff'),
    url('../assets/fonts/InterUI-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../assets/fonts/InterUI-Bold.eot');
  src: url('../assets/fonts/InterUI-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/InterUI-Bold.woff2') format('woff2'),
    url('../assets/fonts/InterUI-Bold.woff') format('woff'),
    url('../assets/fonts/InterUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
